<h1>Listing Inventories</h1>

<table cellspacing="20"> 
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Expiration Date</th>
    <th>Growing Practice</th>
  </tr>
  
  
  <% @item_list.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.cost %></td>
    <td><%= item.quantity %></td>
    <td><%= item.unit %></td>
    <td><%= item.expirationDate %></td>
    <td><%= item.growingPractice %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
