

<%= form_for :home do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>

<p>
  <%= f.label :nameofbusiness, "Name of Business" %><br>
  <%= f.text_field :nameofbusiness %>
</p>

<p>
  <%= f.label :contactnumber, "Contact Number" %><br>
  <%= f.text_field :contactnumber %>
</p>

<p>
  <%= f.label :contactcmail, "Contact Email" %><br>
  <%= f.text_field :contactemail %>
</p>

<% end %>

