<h1>Form</h1>
<%= form_for :home do |f| %>
<p>
  <%= f.label :Name %><br>
  <%= f.text_field :Name %>
  </p>

<p>
  <%= f.label :NameofBusiness %><br>
  <%= f.text_field :NameofBusiness %>
</p>

<p>
  <%= f.label :ContactNumber %><br>
  <%= f.text_field :ContactNumber %>
</p>

<p>
  <%= f.label :ContactEmail %><br>
  <%= f.text_field :ContactEmail %>
</p>

<% end %>

