<h1>Editing admin</h1>

<%= form_for :farmer, url: farmer_path(@farmer), method: :patch do |f| %>

 <% if @farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% @farmer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>

<p>
  <%= f.label :nameofbusiness, "Name of Business" %><br>
  <%= f.text_field :nameofbusiness %>
</p>

<p>
  <%= f.label :contactnumber, "Contact Number" %><br>
  <%= f.text_field :contactnumber %>
</p>

<p>
  <%= f.label :contactemail, "Contact Email" %><br>
  <%= f.text_field :contactemail %>
</p>

<div class="field">
  <%= f.label :bio, "Farmer Bio" %><br>
  <%=f.text_area :bio %>
</div>

<div class="field">
<%= f.label :location, "Location" %><br>
<%= f.text_field :location %>
</div>

<div class="action">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Back', farmers_path %>
