<p id="notice"><%= notice %></p>

<% if admin? %>
<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Name of Business:</strong>
  <%= @farmer.nameofbusiness %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @farmer.contactnumber %>
</p>

<p>
  <strong>Contact Email:</strong>
  <%= @farmer.contactemail %>
</p>

<p>
  <strong>Farmer Bio:</strong>
  <%= @farmer.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farmer.location %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farmer.location %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |

<% else %>
<p>
  <strong>Name of Business:</strong>
  <%= @farmer.nameofbusiness %>
</p>


<p>
  <strong>Farmer Bio:</strong>
  <%= @farmer.bio %>
</p>

<h2>Inventories</h2>
<% @farmer.farmer_inventories.each do |inventory| %>
  <p>
    <strong>Name:</strong>
    <td> <%= inventory.name %> </td>
    <td> <% link to 'Destroy', farmer_inventory, method: :delete, data: {confirm: 'Are you sure?'} %> </td>
  </p>
<% end %>

<h2> Add a inventory item </h2>
<% form_for([@farmer, @farmer.farmer_inventories.build]) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %> 

<%= link_to 'Back', farmers_path %>
| <% link_to 'Edit', edit_farmer_path(@farmer) %>
