<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<% if flash[:error] %>
<div id = "error" ><%= flash[:error] %></div>
<% end %>

<p> To avoid having to sign in, open app/controllers/application_controller.rb, and comment out the line "before_filter :authorize" </p>
<p> Do a "rake db:seed" to get the default admin account. Username: admin, Password: admin </p>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %>
    <p>
      <%= label :session, :username, "Username:" %>
      <%= text_field :session, :username %>
    </p>
    <p>
      <%= label :session, :password, "Password:" %>
      <%= password_field :session, :password %>
    </p>
    <p>
      <%= submit_tag "Sign in" %>
      <% end %>
    </p>
    <p>
      <%= link_to "Sign up now!", controller: "admins", action: "new" %>
  </div>
</div>
