<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %>
    <p>
      <%= label :session, :username, "Username:" %>
      <%= text_field :session, :username %>
    </p>
    <p>
      <%= label :session, :password, "Password:" %>
      <%= password_field :session, :password %>
    </p>
    <p>
      <%= button_tag "Sign in" %>
      <% end %>
    </p>
    <p>
      <%= link_to "Sign up now!", controller: "admins", action: "new" %>
  </div>
</div>
