<h1>Customer Information</h1>
<%= form_for (Customer.new)  do |f| %>

<%= render "form/index" %>


<p>
   <%= f.label :TypeofBusiness, "Type of Business" %><br>
   <%= f.text_field :TypeofBusiness %>
</p>

<p>
   <%= f.label :Desiredpickuplocation, "Desired Pick-up Location" %><br>
   <%= f.select :location, [['Here', 'here'], ['There', 'there']] %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
