<%= form_for (@customer) do |f| %>
<p>
  <%= f.label :Name %><br>
  <%= f.text_field :Name %>
  </p>

<p>
  <%= f.label :NameofBusiness, "Name of Business" %><br>
  <%= f.text_field :NameofBusiness %>
</p>

<p>
  <%= f.label :ContactNumber, "Contact Number" %><br>
  <%= f.text_field :ContactNumber %>
</p>

<p>
  <%= f.label :ContactEmail, "Contact Email" %><br>
  <%= f.text_field :ContactEmail %>
</p>

<% end %>

