<p>
<strong>Name</strong>
<%= @customer.name %>
</p>

<p>
<strong>Name of Business</strong>
<%= @customer.NameofBusiness %>
</p>

<p>
<strong>Contact Number</strong>
<%= @customer.ContactNumber %>
</p>

<p>
<strong>Contact Email</strong>
<%= @customer.ContactEmail %>
</p>

<p>
<strong>Type of Business</strong>
<%= @customer.TypeofBusiness %>
</p>

<p>
<strong>Pick-up Location</strong>
<%= @customer.Desiredpickuplocation %>
</p>
