<%= form_for :inventoryItem,url: posts_path  do |f| %>
  <p>
     <%=  t.fixnum :cost%>
     <%=   t.fixnum :quantity%>
     <%=   t.date :expirationDate%>
     <%=   t.string :growingPractice%>
  </p>
 
  <p>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %> 
