<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Account Type:</strong>
  <%= @admin.usertype %>
</p>

<%= link_to 'Edit Profile', edit_admin_path(@admin) %>
