<h1>New Farmer</h1>

<%= form_for :farmer_bio_form, url: farmers_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%=f.text_field :title %>
</p>

<p>
<%= f.label :text %><br>
<%= f.text :text %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
