<title>Main Menu</title>
<h1>Main Menu</h1>
This is the main menu

<p>
  <% if customer? %>
<p>  <%= link_to "My Profile", controller: "admins", method: "show" %> </p>
<p>  <%= link_to "List of Farmers", controller: "farmers" %> </p>
<p>  <%= link_to "Shop", controller: "inventories" %> </p>
  
  <% else if farmer? %>
<p>  <%= link_to "My Profile", controller: "admins", method: "show" %> </p>
<p> <%= link_to "Current Inventory", controller: "inventories" %> </p>

<p>
  <% else %>
<p>  <%= link_to "Farmers", controller: "farmers" %> </p>
<p>  <%= link_to "Customer", controller: "customers" %> </p>
<p>  <%= link_to "Inventory", controller: "inventory" %> </p>

<% end %>
<% end %>

</p>
