<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @farmer.Bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @farmer.Location %>
</p>

<%= link_to 'Edit', edit_farmers_form_path(@farmer) %> |
<%= link_to 'Back', farmers_form_path %>
