<h1>Customer Information</h1>

<%= render "form/index" %>

<%= form_for @customer  do |f| %>

<p>
   <%= f.label :typeofbusiness, "Type of Business" %><br>
   <%= f.text_field :typeofbusiness %>
</p>

<p>
   <%= f.label :pickuplocation, "Desired Pick-up Location" %><br>
   <%= f.select :pickuplocation, [['Here', 'here'], ['There', 'there']] %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
