<h1>Customers</h1>

<table cellspacing="10">
  <tr>
    <th align="left">Name</th>
    <th align="left">Name of Business</th>
    <th align="left">Contact Number</th>
    <th align="left">Contact Email</th>
    <th align="left">Type of Business</th>
    <th align="left">Pick-up Location</th>
  </tr>

<% @customer_list.each do |customer| %>
<tr>
  <td align="left"><%= customer.name %></td>
  <td align="left"><%= customer.nameofbusiness %></td>
  <td align="left"><%= customer.contactnumber %></td>
  <td align="left"><%= customer.contactemail %></td>
  <td align="left"><%= customer.typeofbusiness %></td>
  <td align="left"><%= customer.pickuplocation %></td>
  <td align="left"><%= link_to 'Show', customer %></td>
  <td align="left"><%= link_to 'Edit', edit_customer_path(customer) %></td>
  <td align="left"><%= link_to 'Destroy', customer_path(customer),
	           method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<%= link_to "New Customer", new_customer_path %>
